html {
    max-width: 100%;
    overflow-x: hidden;
}

.holds-columns-together {
    margin-bottom: 1em;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.dashboard-component {
    padding: 1em;
    background-color: #FEFEFE;
    border: 1px solid #DEDEDE;
    margin-top: 1em;
    margin-bottom: 1em;
}

.responsive-table {
    min-height: .01%;
    overflow-x: auto;
}

.responsive-table table {
    width: 100%;
    max-width: 100%;
}

.definitions {
    position: relative;
    padding: 2em 1em 1em 1em;
    font-size: 0.85em;
    background-color: #EFEFEF;
    border: 1px solid #383838;
}

dt {
    font-weight: bold;
}

.key {
    position: absolute;
    padding: 0.5em;
    background-color: #383838;
    color: #FFF;
    top: 0;
    left: 0;

}

table {
    border-collapse: separate;
    empty-cells: hide;
}

tr {
    background-color: #FFF;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

.multi-total {
    margin-bottom: 1em;
}

.multi-total tr:last-child td {
    border-top: 1px solid #DDD;
    font-weight: bold;
    
}

.generatedcontent .multi-total th span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.generatedcontent .multi-total th::before {
    content: attr(data-shortform);
}

.multi-total th:first-child {
    text-align: left;
}

.multi-total td:nth-child(2), .multi-total th:nth-child(2) {
    background-color: rgba(252, 228, 92, 0.51);
    font-weight: bold;
}

.multi-total td, .multi-total th {
    text-align: center;
}

.multi-total th:last-child, .multi-total td:last-child {
    border-left: 1px solid #DDD;
    font-weight: bold;
}

.staff-member {
    font-size: 0.85em;
    background-color: #FFF;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    border: 1px solid #DDD;
}

#account-controls .suspended a {
    color: #FCE45C;
}

#account-controls .suspended a span {
    background-color: #000000;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}

.sortable {
    text-align: center;
}

.sortable td, .sortable th {
    text-align: center;
}

.sortable tr:first-child th::after {
    content: url('../images/sortable.gif');
}


.sortable tr:first-child th:first-child::after {
    content: url('../images/asc.gif');
}

.sortable tr:first-child th:hover::after {
    content: url('../images/asc.gif');
}
.sortable tr:first-child th:hover {
    cursor: pointer;
    background-color: #DDD;
}

.page-check th, .page-check td {
    text-align: left;
}

.process-selection {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #DDD;
    background-color: #EFEFEF;
}

.staff-comments {
    margin-top: 2em;
}

.abandon-link {
    margin-right: 0.5em;
}

.abandon-content {
    padding-top: 1em;
}

.abandon-buttons {
    margin-top: 1em;
}

input[type=date] {
    border: 1px solid #ccc;
    padding: 5px 3px;
}

.new-page {
    page-break-inside: avoid;
}

.message-preview {
    border: 1px solid #383838;
    background-color: #EFEFEF;
    padding: 3em 2em;
    position: relative;
}

.message-information {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    background-color: #383838;
    color: #EFEFEF;
}

@media only screen and (min-width: 1024px) {
    th, td {
        padding: 1em;
    }
    .generatedcontent .multi-total th::before {
        content: attr(data-longform);
    }
}
